#root {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
::selection,
::-moz-selection { /* Code for Firefox */
  color: white;
  background: #FF6CC9;
}

@font-face {
  font-family: 'Bluu Next Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Bluu Next Bold'), url('./fonts/BluuNext-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Roboto Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Roboto Regular'), url('./fonts/Roboto-Regular.woff') format('woff');
}

body {
  margin: 0;
  font-family: 'Roboto Regular';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: background-color 1s cubic-bezier(0.6, 0, 0.2, 1), color 1s cubic-bezier(0.6, 0, 0.2, 1);
  font-size: 18px;
  line-height: 1.5em;
}

body.theme--dark {
  background-color: #282A37;
  color: white;
}

a {
  text-decoration: none;
  color: #9022ff;
  transition: color 1s cubic-bezier(0.6, 0, 0.2, 1);
}

body.theme--dark a {
  color: #FF6CC9;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: #9022ff;
}

body.theme--dark a {
  color: #FF6CC9;
}

h1 {
  font-size: 120px;
  font-family: 'Bluu Next Bold';
  line-height: 110px;
  letter-spacing: -5px;
  margin-bottom: 40px;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li + li {
  margin-left: 10px;
}

nav ul li a.selected {
  font-weight: bold;
}

.theme-icon--wrapper {
  position: relative;
}

.theme-toggle {
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
}

.theme-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: white;
  background-image: url('./images/sun-moon-1.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: top;
  transition: all 1s cubic-bezier(0.6, 0, 0.2, 1);
  position: absolute;
  left: 0;
  pointer-events: none;
}

.theme-icon:hover {
  cursor: pointer;
}

body.theme--dark .theme-icon {
  background-position-y: bottom;
  background-color: #282a36;
  transition: all 1s cubic-bezier(0.6, 0, 0.2, 1);
}